/* .hero-section {
    position: relative;
    height: 100vh;
    background: linear-gradient(135deg, #00AEEF, #001F3F, #FF6F3C);
    background-image: ;
    background-size: cover;
    background-position: center;
}

.hero-text {
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent overlay */
/* }/* */
